
*.config
*.exe
*.manifest
*.cache
src/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/obj/Debug/YeBo.csproj.FileListAbsolute.txt
.vs/YeBo/v14/.suo
YeBoForms/bin/Debug/config.json
YeBoForms/bin/Debug/Humanizer.dll
YeBoForms/bin/Debug/Humanizer.xml
YeBoForms/bin/Debug/Newtonsoft.Json.dll
YeBoForms/bin/Debug/Newtonsoft.Json.pdb
YeBoForms/bin/Debug/Newtonsoft.Json.xml
YeBoForms/bin/Debug/YeBoForms.pdb
YeBoForms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
YeBoForms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
YeBoForms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
YeBoForms/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
YeBoForms/obj/Debug/YeBoForms.MainForm.resources
YeBoForms/obj/Debug/YeBoForms.pdb
YeBoForms/obj/Debug/YeBoForms.csproj.FileListAbsolute.txt
YeBoForms/obj/Debug/YeBoForms.Properties.Resources.resources
